

.first-v {
    width: 100%;
    height: 100vh;
    position: relative;
}

.first-v__wrap {
            position: absolute;
            top: 35%;
            left: 50%;
            height: 15%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transform: translate(-50%, -50%);
            color: white;
        }

.first-v__img {
    width: 100%; 
    height: 100vh;
    background-image: url(../img/ramen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
}

.catch {
    font-size: 40px;
    font-family:  YuMincho;
    font-weight: bold;
    z-index: 1;
    text-align: center;
    text-shadow: 0px 0px 10px black;
}
.catch_sub {
    font-size: 37px;
    font-family: YuMincho;
    z-index: 1;
        text-shadow: 0px 0px 10px black;

}

button {
    position: relative;
    top: 230%;
}

.btn-primary {
    font-size: 22px;
    background-color: #28385E;
    border-color: #28385E;
}

.ff {
    font-family: Yumincho;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: ;
 rgba(0,0,0,.16);
}
.global-nav {
  position: fixed;
  right: -320px; /* これで隠れる */
  top: 0;
  width: 300px; /* スマホに収まるくらい */
  height: 100vh;
  padding-top: 40px;
  background-color: #fff;
  transition: all .6s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
}
.hamburger {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px; /* クリックしやすいようにちゃんと幅を指定する */
  height: 40px; /* クリックしやすいようにちゃんと高さを指定する */
  cursor: pointer;
  z-index: 300;
}
.global-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.global-nav__item {
  text-align: center;
  padding: 0 14px;
}
.global-nav__item a {
  display: block;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #111;
}
.global-nav__item a:hover {
  background-color: #eee;
}
.hamburger__line {
  position: absolute;
  left: -20px;
  width: 30px;
  height: 2px;
  background-color: gray;
  transition: all .6s;
}
.hamburger__line--1 {
  top: 14px;
}
.hamburger__line--2 {
  top: 20px;
}
.hamburger__line--3 {
  top: 26px;
}
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  cursor: pointer;
}
/* 表示された時用のCSS */
.nav-open .global-nav {
  right: 0;
}
.nav-open .black-bg {
  opacity: .8;
  visibility: visible;
}
.nav-open .hamburger__line--1 {
  transform: rotate(45deg);
  top: 20px;
}
.nav-open .hamburger__line--2 {
  width: 0;
  left: 50%;
}
.nav-open .hamburger__line--3 {
  transform: rotate(-45deg);
  top: 20px;
}
.mr-3 {
    width: 150px;
    border-radius: 30%;
    margin-top:5%;
    margin-left: 10%;
}

.order-2 {
    width: 150px;
    border-radius: 30%;
     margin-top: 30px;
    margin-right: 10%;
}

.insta {
    margin-left: 25%;
}

h1 {
    margin-top: 50px;
    font-family: fantasy;
    font-weight: bold;
    font-size: 3rem;
    color: white;
}

h5 {
    margin-top: 50px;
    font-family: fantasy;
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

body {
    font-family: Yumincho;
    font-weight: bold;
    font-size: 20px;
    background-color: #28385E;
    color: white;
    width: 100%;
}

h1{
    padding: 10% 0 0 10%;    
    color: white;
}

iframe {
  width: 80%;
  margin: 5% 5% 5% 10%;
}

p{
    margin-left: 10%;
}

h1{
    padding: 10% 0 0 10%;    
    color: white;
}

body {
    background-color: #28385E;
}

figure {
  margin: 10%;
}

figcaption {
    text-align: center;
}
.figure-caption {
    color: white;
}
p {
    text-align: center;
    margin: 5%;
    color: white;
}


.btn-primary {
    margin-left: 6px;
    color: #28385E;
    font-size: 22px;
    background-color: white;
    border-color: white;
}
h1{
    padding: 10% 0 0 10%;    
}
.img{
    border-radius: 50%;
    padding: 10%;
}
p, h2 {
    text-align: center;
    line-height: 150%;
}
h2 {
    margin-bottom: 10%;
}
p {
    margin-bottom: 20%;
}

body {
    background-color: #28385E;
    color: white;
}

.inu {
  border-radius: 50%;
  padding: 15%;
}

.bottom-btn {
  margin-left: 25%;
  margin-bottom: 10%;
}

.falilv-img {
  width: 100%;
  padding: 10%;
}

.ziyoou {
  margin-left: 12%;
}

.afuri {
  border-radius: 50%;
}



