.mr-3 {
    width: 150px;
    border-radius: 30%;
    margin-top:5%;
    margin-left: 10%;
}

.order-2 {
    width: 150px;
    border-radius: 30%;
     margin-top: 30px;
    margin-right: 10%;
}

.insta {
    margin-left: 50%;
}

h5 {
    margin-top: 50px;
    font-family: fantasy;
    font-weight: bold;
    font-size: 35px;
    color: white;
}

body {
    font-family: Yumincho;
    font-weight: bold;
    font-size: 20px;
    background-color: #28385E;
    color: white;
}

h1{
    padding: 10% 0 0 10%;    
    color: white;
}

iframe {
    margin: 5% 0 5% 10%;
}

p{
    margin-left: 10%;
    margin-bottom: 10%;
}
