h1{
    padding: 10% 0 0 10%;    
    color: white;
}

body {
    background-color: #28385E;
}

figure {
 margin: 10%;
}

figcaption {
    text-align: center;
}
.figure-caption {
    color: white;
}
p {
    text-align: center;
    margin: 5%;
    color: white;
}


.btn-primary {
    margin-left: 6px;
    color: #28385E;
    font-size: 22px;
    background-color: white;
    border-color: white;
}