h1{
    padding: 10% 0 0 10%;    
}
.img-fluid{
    border-radius: 50%;
    padding: 20%;
}
p, h2 {
    text-align: center;
    line-height: 150%;
}
h2 {
    margin-bottom: 10%;
}
p {
    margin-bottom: 20%;
}

body {
    background-color: #28385E;
    color: white;
}